@tailwind base;
@tailwind components;
@tailwind utilities;

/* background: linear-gradient(180deg, #78A5FC 0%, rgba(120, 165, 252, 0.50) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes buttonGradient {
  from {
    background: linear-gradient(
    145deg, 
    rgb(var(--text-start-rgb)) 0%, 
    rgb(var(--text-end-rgb)) 100%
    );
  }
  to {
    background: linear-gradient(
    145deg, 
    rgb(var(--text-end-rgb)) 0%, 
    rgb(var(--text-start-rgb)) 100%
    );
  }
}

@keyframes circleHorizontal {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes circleVertical {
  0% {
    transform: 
      rotate(0deg)
      translateY(0%)
      rotate(0deg)
  }
  25% {
    transform: 
      rotate(360deg)
      translateY(100%)
      rotate(-360deg);
  }
  50% {
    transform: 
    rotate(0deg)
    translateY(100%)
    rotate(0deg); 
  }
  100% {
    transform: 
      rotate(360deg)
      translateY(0%)
      rotate(-360deg);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  } 
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(50px);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-50px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  } 
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(-50px);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(50px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  } 
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 183, 207, 255;
  --background-end-rgb: 222, 233, 254;
  --text-start-rgb: 183, 207, 255;
  --text-end-rgb: 98, 134, 220;
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
  /* --background-end-rgb: 120, 165, 252; */
}

.bg-dashboard {
  background-color: rgba(var(--text-start-rgb), 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 29, 38, 125;
    --background-end-rgb: 12, 19, 79;
    --text-start-rgb: 120, 165, 252;
    --text-end-rgb: 120, 165, 252;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
  .text-primary {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--foreground-rgb));
    /* background-clip: color; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-primary::placeholder {
    color: rgb(var(--foreground-rgb));
  }

  .bg-dashboard {
    background-color: rgba(var(--background-start-rgb), 1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-inter);
  animation: slide 200ms linear;
  /* transition: transform 350ms ease; */
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-silkscreen);
}

.animate-transform-background {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.animate-left-to-right {
  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.animate-opacity {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.animate-fade-in {
  animation: fadeIn 300ms ease-in-out;
}

.animate-fade-out {
  animation: fadeOut 300ms ease-in-out;
}

.animate-circle-horizontal {
  animation: circleHorizontal 10s linear infinite;
}

.animate-circle-vertical {
  animation: circleVertical 20000ms linear infinite;
}

.animate-slide {
  animation: slide 300ms linear;
}

.animate-slide-up {
  animation: slideUp 500ms linear infinite;
}

.animate-slide-down {
  animation: slideDown 500ms linear infinite;
}

.bg-root {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    /* rgb(var(--background-end-rgb)) */
    rgb(var(--background-start-rgb));
}
.bg-primary {
  background: linear-gradient(
    90deg,
    rgb(var(--text-start-rgb)) 0%,
    rgba(var(--text-end-rgb), 0.50) 100%
    );
}

.border-gradient {
  border-width: 1px;
  border-image: linear-gradient(to left,
  rgb(var(--text-start-rgb)) 0%,
  rgba(var(--text-end-rgb), 0.50) 100%
  );
  border-image-slice: 1;
}

.border-gradient.bottom {
  border-width: 0;
  border-bottom-width: 1px;
}

.border-gradient.bottom.bottom-md {
  border-bottom-width: 2px;
}

.border-gradient.border-primary:hover {
  /* border-image-source: linear-gradient(
    to left,
    rgb(var(--text-start-rgb)) 0%,
    rgba(var(--text-end-rgb), 0.50) 100%
    ); */
}
.border-gradient:hover {
  /* border: 1px solid;
  border-image-slice: 1; */
}

.text-primary {
  background: rgb(var(--foreground-rgb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-primary::placeholder {
  color: #000000;
}

.btn-primary {
  background: linear-gradient(
    145deg, 
    rgb(var(--text-start-rgb)) 0%, 
    rgb(var(--text-end-rgb)) 100%
    );
  padding: .325rem .675rem;
  border-radius: .15rem;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;  
  -moz-transition: background 300ms linear;  
  -o-transition: background 300ms linear;  
}

.btn-primary:hover {
  /* background: linear-gradient(
    145deg, 
    rgb(var(--text-end-rgb)) 0%, 
    rgb(var(--text-start-rgb)) 100%
    ); */
  background: rgb(var(--text-start-rgb));
}